[Unit]
Description=Do cloud sync with rclone every 10 minutes.

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
Persistent=true

[Install]
WantedBy=timers.target
